* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
    color: white;
    font-size: 1.5em;
}

input, button {
    background-color: inherit;
    border: solid 2px white;
    height: 5vh;
    padding: 0 0.5vw;
    margin: 2vh 1.5vw;
    color: inherit;
    font-size: inherit;
    border-radius: 100vh;
}

input {
    width: 40vw;
}

button {
    min-width: 15vw;
}

button:hover {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#thevideo {
    width: 80vw;
    height: 45vw;
    border: none;
}

#video {
    text-align: center;
}